$SeconderyColor: #2d4059;
$ThirdColor: #ea5455;
$FontFam: "Poppins", sans-serif;
$Primarycolor: #fafafa;
$SeconderyFontcolor: #fafafa;
$UltraSmallText: 0.9rem;
$PcUltraSmallText: 1.2rem;
$PcHeadingSize: 1.5rem;
.Addbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: $SeconderyColor;
    position: fixed;
    top: 85%;
    left: 75%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
}
@media only screen and (min-width: 960px){
    .Addbutton{
        left: 87%;
    }
}